<div class="o-flag">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
</div>

<br>

<div class="o-flag--flush">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--flush</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--tiny">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--tiny</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--small">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--small</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--large">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--large</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--huge">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--huge</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--reverse">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--reverse</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--top">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--top</code> modifier.</p>
    </div>
</div>

<br>

<div class="o-flag--bottom">
    <div class="o-flag__img">
        <img src="http://via.placeholder.com/75x50" alt="">
    </div>
    <div class="o-flag__body">
        <p>Example with <code>--bottom</code> modifier.</p>
    </div>
</div>
