<ol class="o-list-bare">
    <li class="o-list-bare__item">List item</li>
    <li class="o-list-bare__item">List item</li>
    <li class="o-list-bare__item">List item</li>
    <li class="o-list-bare__item">List item</li>
</ol>

<br>

<dl class="o-list-bare">
    <dt>Firefox</dt>
    <dd class="o-list-bare__item">
        A free, open source, cross-platform,
        graphical web browser developed by the
        Mozilla Corporation and hundreds of
        volunteers.
    </dd>
    <dt>Chromium</dt>
    <dd class="o-list-bare__item">
        A free, open source, cross-platform,
        graphical web browser developed by
        someone.
    </dd>
</dl>
