<div class="o-block">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>Hey!, I'm a paragraph</p>
        <p>And I'm another.</p>
    </div>
</div>

<div class="o-block o-block--flush">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--flush' modifier</p>
    </div>
</div>

<div class="o-block o-block--tiny">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--tiny' modifier</p>
    </div>
</div>

<div class="o-block o-block--small">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--small' modifier</p>
    </div>
</div>

<div class="o-block o-block--large">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--large' modifier</p>
    </div>
</div>

<div class="o-block o-block--huge">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--huge' modifier</p>
    </div>
</div>

<div class="o-block o-block--left">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--left' modifier</p>
    </div>
</div>

<div class="o-block o-block--right">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--right' modifier</p>
    </div>
</div>

<div class="o-block o-block--left o-block--large">
    <div class="o-block__img">
        <img src="http://via.placeholder.com/350x150" alt="">
    </div>
    <div class="o-block__body">
        <p>I have '--left' and '--large' modifiers</p>
    </div>
</div>
