<div class="o-wrapper c-sample">

  <div class="o-box">
  </div>

  <div class="o-layout">
    <div class="o-layout__item">
      <div class="o-box">
        o-layout__item
      </div>
    </div>
  </div>

  <div class="o-layout">
    <div class="o-layout__item u-1/2">
      <div class="o-box">
        u-1/2
      </div>
    </div>
    <div class="o-layout__item u-1/2">
      <div class="o-box">
        u-1/2
      </div>
    </div>
  </div>

  <div class="o-layout">
    <div class="o-layout__item u-1/3">
      <div class="o-box">
        u-1/3
      </div>
    </div>
    <div class="o-layout__item u-1/3">
      <div class="o-box">
        u-1/3
      </div>
    </div>
    <div class="o-layout__item u-1/3">
      <div class="o-box">
        u-1/3
      </div>
    </div>
  </div>

</div>
